<div class="container">

  <h1><%= @destination.name %></h1>

  <h2><%= @destination.description %></h2>

  <img src="<%=@destination.image%>">
  <img src="<%=@image.url%>">

  <% @destination.images.each do |image| %>
    <img class="show-images" src="<%= image.url %>">
    <%= button_to 'Delete', "/images/#{image.id}", method: :delete %>
  <% end %>

  <a href="/images/new?destination_id=<%= @destination.id %>" class="btn btn-success" role="button">Add Image</a>
  <a href="/destinations/<%= @destination.id %>/edit" class="btn btn-success" role="button">Edit</a>
</div>




