<div class="container">
  <h1>New Destination</h1>

  <ul>
    <% if @destination.errors.any? %>
    <% @destination.errors.full_messages.each do |message| %>
    <li class="model-errors"><%= message %></li> 
    <% end %>
    <% end %>
  </ul>


  <%= form_tag "/destinations", multipart: true, method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
   Region:
   <select name="region_id">
    <option value="" disabled selected>Select your option</option>
    <% @regions.each do |region| %>
    <option value="<%=region.id %>"><%=region.name %> </option>
    <% end %>
  </select>
  
</div>
<div>
 Category:
 <select name="category_id">
  <option value="" disabled selected>Select your option</option>
  <% @categories.each do |category| %>
  <option value="<%=category.id %>"><%=category.title%> </option>
  <% end %>
</select>

<!-- <div>
    Upload Your Image
    <input type="file" name="image">
  </div> -->


  <input type="submit" value="Create destination">
  <% end %>
</div>







<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
    
      <div class="col-md-4">
      <form>
      <div id="contact-form" class="form-container" data-form-container>
      <div class="row">
        <div class="form-title">
          <span>Contact Us</span>
        </div>
      </div>
      <div class="input-container">
        <div class="row">
          <span class="req-input" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input Your First and Last Name."> </span>
            <input type="text" data-min-length="8" placeholder="Full Name">
          </span>
        </div>
        <div class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Email."> </span>
            <input type="email" placeholder="Email">
          </span>
        </div>
        <div class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Input Your Phone Number."> </span>
            <input type="tel" placeholder="Phone Number">
          </span>
        </div>
        <div class="row">
          <span class="req-input message-box">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Please Include a Message."> </span>
            <textarea type="textarea" data-min-length="10" placeholder="Message"></textarea>
        </div>
        <div class="row submit-row">
          <button type="button" class="btn btn-block submit-form">Submit</button>
        </div>
      </div>
      </div>
      </form>
    </div>
        <div class="col-md-4">
        <form>
      <div id="contact-form" class="form-container" data-form-container style="color: rgb(46, 125, 50); background: rgb(200, 230, 201);">
      <div class="row">
        <div class="form-title">
          <span> Create Post </span>
        </div>
      </div>
      <div class="input-container">
        <div class="row">
          <span class="req-input valid" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your post title."> </span>
            <input type="text" data-min-length="8" placeholder="Post Title" value="testing post">
          </span>
        </div>
      
        <div class="row">
          <span class="req-input message-box valid">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Post Contents."> </span>
            <textarea type="textarea" data-min-length="10" placeholder="Post Contents">Valid contents </textarea>
        </div>
        <div class="row submit-row">
          <button type="button" class="btn btn-block submit-form valid">Submit</button>
        </div>
      </div>
      </div>
      </form>
    </div>
      
    